@use '../tokens.module';
@use '../Box/button.module' as *;
@use '../Text/body.module' as *;

.input {
    margin: 0;
    border: 0;
    color: inherit;
    padding: var(--padding, 1rem);
    scroll-padding-block: var(--padding, 1rem);
    box-sizing: content-box;
    background: transparent;
    min-width: 1ch;
    flex: 1;
    outline-offset: -4px;
    accent-color: tokens.$action_primary_backgroundColor;
    @include body;

    &:where([type="checkbox"], [type="radio"]) {
        cursor: pointer;
        aspect-ratio: 1;
        height: 1lh;
        outline-offset: 2px;

        &:not(:checked) {
            appearance: none;
            padding: 0;
        }
    }

    &:where([type="file"])::file-selector-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: var(--padding, 1rem);
        margin-inline-end: 1ch;
        @include button;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-search-cancel-button {
        display: none;
    }

    &::-webkit-autofill,
    &::-webkit-autofill:hover,
    &::-webkit-autofill:focus,
    &::-webkit-autofill:active {
        -webkit-text-fill-color: tokens.$control_foregroundColor;
        caret-color: tokens.$control_foregroundColor;
    }

    &::-ms-reveal,
    &::-ms-cancel {
        display: none;
    }
}
