.input:is(.input) {
    /* match control border width */
    margin-block: 0;
    margin-inline: 0;
    border: 0;
    padding: var(--padding, 1rem);
    scroll-padding-block: var(--padding, 1rem);
    box-sizing: content-box;
    background: transparent;
    min-width: 1ch;
    flex: 1;
    font-size: 1.2rem;

    &::-webkit-inner-spin-button {
        display: none;
    }

    &:not(textarea) {
        line-height: 1lh;
    }
}
