.input:is(.input) {
    /* match control border width */
    border: 0;
    padding: var(--padding, 1rem);
    scroll-padding-block: var(--padding, 1rem);
    box-sizing: content-box;
    background: transparent;
    min-width: 1ch;
    flex: 1;
    font-size: 1.2rem;
    outline-offset: -4px;

    &::-webkit-inner-spin-button,
    &::-webkit-search-cancel-button {
        display: none;
    }

    &::-ms-reveal,
    &::-ms-cancel {
        display: none;
    }

    &::-webkit-autofill,
    &::-webkit-autofill:hover,
    &::-webkit-autofill:focus,
    &::-webkit-autofill:active {
        -webkit-text-fill-color: var(--fgColor, black);
        caret-color: var(--fgColor, black);
    }

    &:not(textarea) {
        line-height: 1lh;
    }

    &:where([type="checkbox"], [type="radio"]) {
        cursor: pointer;
        aspect-ratio: 1;
        height: 1lh;
        accent-color: green;
        outline-offset: 2px;

        &:not(:checked) {
            appearance: none;
            padding: 0;
        }
    }
}
