@use '../tokens.module';
@use '../Box/button.module' as *;
@use '../Text/body.module' as *;
@use '../Box/space.module' as space;

.input {
    margin: 0;
    border: 0;
    color: inherit;
    padding: space.$padding;
    scroll-padding-block: space.$padding;
    box-sizing: content-box;
    background: transparent;
    min-width: 1ch;
    flex: 1;
    outline-offset: -4px;
    accent-color: tokens.$action_primary_backgroundColor;
    background-clip: text; /* stackoverflow.com/a/64166144 */
    @include body;

    &.hidden {
        scale: 0;
        position: absolute;
    }

    /* The difference between `<input.checkbox/>` and `<Checkbox/>` has to do with the provided label composition. If the checkbox is meant to exist without a standard label (ie., select all in table rows) the `<input.checkbox/>` may be more appropriate. */
    &:where([type="checkbox"], [type="radio"]) {
        cursor: pointer;
        aspect-ratio: 1;
        height: 1lh;
        outline-offset: 2px;
        padding: 0;
        flex: 0 1 auto;
        border-color: tokens.$control_borderColor;
        color: tokens.$control_foregroundColor;
        background: tokens.$control_backgroundColor;
    }

    /* Found as button within the native <input type="file"/> composition */
    &:where([type="file"]) {
        &::file-selector-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: space.$padding;
            margin-inline-end: 1ch;
            @include button;
        }

        &:not([disabled], [aria-disabled="true"]):hover::file-selector-button {
            /* Styles are copied over from '../Box/button.module' for hover */
            background: color-mix(in oklch, var(--action-bg), currentColor 10%);
        }
    }

    /* Removes native up-down buttons */
    &::-webkit-inner-spin-button,
    &::-webkit-search-cancel-button {
        display: none;
    }

    /* Removes autofill styled background */
    &::-webkit-autofill,
    &::-webkit-autofill:hover,
    &::-webkit-autofill:focus,
    &::-webkit-autofill:active {
        -webkit-text-fill-color: tokens.$control_foregroundColor;
        caret-color: tokens.$control_foregroundColor;
    }

    /* Removes native clear button */
    &::-ms-reveal,
    &::-ms-cancel {
        display: none;
    }
}
