@use '../tokens.module';

$primary-rem: calc(
    #{tokens.$text_primary_minRem}
    * pow(#{tokens.$text_primary_scaleFactor}, var(--level, 0))
);
$secondary-rem: calc(
    #{tokens.$text_secondary_minRem}
    * pow(#{tokens.$text_secondary_scaleFactor}, var(--level, 0))
);
$auxiliary-rem:  calc(
    #{tokens.$text_auxiliary_minRem}
    * pow(#{tokens.$text_auxiliary_scaleFactor}, var(--level, 0))
);

@mixin body {
    --viewminrem: 20; /* 320px */
	--viewmaxrem: 30; /* 480px */

	--fontminrem: #{$secondary-rem};
	--fontmaxrem: calc((var(--viewmaxrem) * var(--fontminrem)) / var(--viewminrem));
	
	--slope: calc(
        (var(--fontmaxrem) - var(--fontminrem))
        / (var(--viewmaxrem) - var(--viewminrem))
    );

    font-family: tokens.$text_secondary_fontFamily;
    font-weight: tokens.$text_secondary_fontWeight;
    line-height: tokens.$text_secondary_lineHeight;
    font-size: calc(var(--fontminrem) * 1rem);
    text-wrap: pretty;
    font-feature-settings: "kern";
    font-kerning: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: tabular-nums;
    color: tokens.$surface_secondary_foregroundColor;
    background: tokens.$surface_secondary_backgroundColor
}
