@use '../tokens.module';

.text {
    --depth: 0; /* TODO */
	
	--viewminrem: 20; /* 320px */
	--viewmaxrem: 30; /* 480px */

    /* (2 * 1.125^0) = 2 */
	--font1minrem: calc(
        #{tokens.$text_primary_minRem}
        * pow(#{tokens.$text_primary_scaleFactor}, var(--depth))
    );
	/* (30 * 2 / 20) = 3 */
	--font1maxrem: calc((var(--viewmaxrem) * var(--font1minrem)) / var(--viewminrem));
	
	/* (1 / 10) = .1 */
	--slope: calc(
        (var(--font1maxrem) - var(--font1minrem))
        / (var(--viewmaxrem) - var(--viewminrem))
    );

    /* default is secondary */
    font-family: tokens.$text_secondary_fontFamily;
    font-weight: tokens.$text_secondary_fontWeight;
    font-size: calc(#{tokens.$text_secondary_minRem} * 1rem);
    line-height: tokens.$text_secondary_lineHeight;
    text-wrap: pretty;
    font-feature-settings: "kern";
    font-kerning: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: tabular-nums;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    &:not([data-standby="true"]):empty {
        display: none;
    }

    &:where(a), a {
        color: inherit;
        word-break: break-word;
    }

    &:where(strong, label) {
        font-weight: bolder;
    }

    &:where(label[for]) {
        cursor: pointer;
    }

    &:where([data-priority="primary"]) {
        text-wrap: balance;
        font-family: tokens.$text_primary_fontFamily;
        font-weight: tokens.$text_primary_fontWeight;
        font-size: clamp(
            var(--font1minrem) * 1rem,
            var(--slope) * 100vw,
            var(--font1maxrem) * 1rem
        );
        line-height: tokens.$text_primary_lineHeight;
    }

    &:where([data-priority="auxiliary"]) {
        font-size: calc(#{tokens.$text_auxiliary_minRem} * 1rem);
        font-family: tokens.$text_auxiliary_fontFamily;
        font-weight: tokens.$text_auxiliary_fontWeight;
        line-height: tokens.$text_auxiliary_lineHeight;
    }

    & .text:not([data-priority]) {
        font: inherit;
    }
}

.sronly:not(:focus):not(:active) {
    position: absolute;
    transform: scale(0);
}