@use '../tokens.module';

.text {
    --depth: 0;
	
	--viewminrem: 20; /* 320px */
	--viewmaxrem: 30; /* 480px */

    /* (2 * 1.125^0) = 2 */
	--font1minrem: calc(
        #{tokens.$text_primary_minRem}
        * pow(#{tokens.$text_primary_scaleFactor}, var(--depth))
    );
	/* (30 * 2 / 20) = 3 */
	--font1maxrem: calc((var(--viewmaxrem) * var(--font1minrem)) / var(--viewminrem));
	
	/* (1 / 10) = .1 */
	--slope: calc(
        (var(--font1maxrem) - var(--font1minrem))
        / (var(--viewmaxrem) - var(--viewminrem))
    );

    /* default is secondary */
    font-size: 1.2rem;
    text-wrap: pretty;
    font-feature-settings: "kern";
    font-kerning: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: tabular-nums;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    &:where(:empty):not([data-standby="true"]) {
        display: none;
    }

    &:where(a), a {
        color: inherit;
        word-break: break-word;
    }

    &:where(strong) {
        font-weight: bolder;
    }

    &:where(label[for]) {
        cursor: pointer;
    }

    &:where([data-priority="primary"]) {
        /* text-wrap: balance; */
        font-weight: bolder;
        font-size: 1.2rem;
        &:not(label) {
            font-size: clamp(
                var(--font1minrem) * 1rem,
                var(--slope) * 100vw,
                var(--font1maxrem) * 1rem
            );
            line-height: 1.1;
        }
    }

    &:where([data-priority="auxiliary"]) {
        font-size: 1rem;
    }

    & .text:not([data-priority]) {
        font: inherit;
    }
}

.sronly:not(:focus):not(:active) {
    position: absolute;
    transform: scale(0);
}