button, .button {
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--space--near);
  padding: var(--space--near) var(--space--away);
  border-style: solid;
  transition: .218s ease;

  border-width: var(--action_standard_border-size);
  border-radius: var(--action_standard_border-curve);
  background: var(--action_standard_background-color);
  color: var(--action_standard_foreground-color);
  border-color: var(--action_standard_border-color);
  
  &[data-priority="primary"] {
    border-width: var(--action_primary_border-size);
    border-radius: var(--action_primary_border-curve);
    background: var(--action_primary_background-color);
    color: var(--action_primary_foreground-color);
    border-color: var(--action_primary_border-color);
  }

  &[data-priority="secondary"] {
    border-width: var(--action_secondary_border-size);
    border-radius: var(--action_secondary_border-curve);
    background: var(--action_secondary_background-color);
    color: var(--action_secondary_foreground-color);
    border-color: var(--action_secondary_border-color);
  }

  &:hover {
    background: var(--action_hover_background-color);
    color: var(--action_hover_foreground-color);
    border-color: var(--action_hover_border-color);
  }
}

a, .link {
  color: var(--link_standard_foreground-color);

  &:hover {
    color: var(--link_hover_foreground-color);
  }
}