:root {
  
  --grayscale--factor: 5;
  --ultragray--1: calc(1 * var(--grayscale--factor));
  --ultragray--2: calc(var(--ultragray--1) * var(--grayscale--factor));
  --ultragray--3: calc(var(--ultragray--2) * var(--grayscale--factor));
  --infragray--1: calc(1 / var(--grayscale--factor));
  --infragray--2: calc(var(--infragray--1) / var(--grayscale--factor));
  --infragray--3: calc(var(--infragray--2) / var(--grayscale--factor));

  --ultragray--1-hsl: hsl(0, 0%, calc(100% / (1 + var(--ultragray--1))));
  --ultragray--2-hsl: hsl(0, 0%, calc(100% / (1 + var(--ultragray--2))));
  --ultragray--3-hsl: hsl(0, 0%, calc(100% / (1 + var(--ultragray--3))));
  --infragray--1-hsl: hsl(0, 0%, calc(100% / (1 + var(--infragray--1))));
  --infragray--2-hsl: hsl(0, 0%, calc(100% / (1 + var(--infragray--2))));
  --infragray--3-hsl: hsl(0, 0%, calc(100% / (1 + var(--infragray--3))));

}
