$env-breakpoint: 860px; 

.max-content {
  max-width: calc($env-breakpoint - var(--space--away));
  margin-inline: auto;
}

#main {
  padding-block: var(--space--away);
  padding-inline: var(--space--near);
  margin-inline: auto;
  max-width: 100vw;
}

#content {
  padding-block: var(--space--away);

  & :where(h2, h3, h4, h5, h6, p, ol, ul) {
    margin-block: var(--space--away);
  }
}

#content li {
  margin-block: var(--space--near);
}

.fig-quote {
  background: var(--accent-color, var(--feedback_standard_surface-color));
  color: var(--feedback_standard_onsurface-color);
  border-radius: var(--box_standard_border-curve);
  padding: var(--space--near);
  margin-block: var(--space--away);
  font-size: var(--text--heading);

  figcaption {
    margin-top: var(--space--away);
    text-align: right;
  }

  a, a:hover {
    color: inherit;
  }
}

table {
  font-size: 1rem;
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--box_standard_background-color);
  color: var(--box_standard_foreground-color);
  border: var(--box_standard_border-size) solid var(--box_standard_border-color);
  border-radius: var(--box_standard_border-curve);
  width: 100%;
  margin-block: var(--space--near);

  th {
    color: var(--accent-color, currentColor);
    border-bottom: var(--box_standard_border-size) solid var(--box_standard_border-color);
  }

  th, td {
    padding: var(--space--near);
    text-align: inherit;
  }
}

pre {
  resize: both;
  min-width: 250px;
  max-width: 100%;
  overflow: auto;
  font-size: 1rem;
  background-color: var(--box_low-contrast_background-color);
  color: var(--box_low-contrast_foreground-color);
  border: var(--box_standard_border-size) solid var(--box_low-contrast_border-color);
  border-radius: var(--box_standard_border-curve);
  padding: var(--space--near);
  margin-block: var(--space--away);

  & > code {
    white-space: pre-wrap;
  }
}

:not(pre) > code {
  background-color: var(--box_low-contrast_background-color);
  color: var(--box_low-contrast_foreground-color);
  border: var(--box_standard_border-size) solid var(--box_low-contrast_border-color);
  border-radius: var(--box_standard_border-curve);
  font-size: var(--text--detail);
  padding: 0.1em 0.5ch;
  vertical-align: 0.1em;
}

aside[role="note"] {
  background-color: var(--box_standard_background-color);
  color: var(--box_standard_foreground-color);
  border: var(--box_standard_border-size) solid var(--box_standard_border-color);
  border-radius: var(--box_standard_border-curve);
  padding: 0 var(--space--away);
  margin-block: var(--space--away);
}

details {
  background-color: var(--box_standard_background-color);
  color: var(--box_standard_foreground-color);
  border: var(--box_standard_border-size) solid var(--feedback_standard_surface-color);
  border-radius: var(--box_standard_border-curve);
  margin-block: var(--space--away);

  summary {
    text-transform: capitalize;
    background: var(--accent-color, var(--feedback_standard_surface-color));
    color: var(--feedback_standard_onsurface-color);
    padding: var(--space--near);
    cursor: pointer;

    &::marker {
      content: '+ ';
    }
  }

  & > div {
    padding-inline: var(--space--away);
  }
}