.spacing--inset {
	padding: var(--space--away);
}

.spacing--inline {
	padding-inline: var(--space--away);
}

.spacing--block {
	padding-block: var(--space--away);
}

.spacing--gap {
	gap: var(--space--near);
}

.spacing--all {
	padding: var(--space--away);
	gap: var(--space--near);
}
