.spacing--inset {
	padding: var(--space--away);
}

.spacing--inline {
	padding-inline: var(--space--away);
}

.spacing--block {
	padding-block: var(--space--away);
}

.spacing--gap {
	gap: var(--space--near);
}

.spacing--all {
	padding: var(--space--away);
	gap: var(--space--near);
}

.markdown > :is(h2, h3, h4, h5, h6, p) {
	margin-block: var(--space--near);
}
