@use '../tokens.module';
@use '../Box/flyout.module' as *;

.track {
    appearance: none;
    border-radius: 100vw;
    height: 1lh;
    display: flex;
    width: -webkit-fill-available;
    min-width: 10em;
    border-width: 1px;
    border-style: solid;
    border-color: tokens.$control_borderColor;
    background: tokens.$control_backgroundColor;

    /* indeterminate */
    &:not([value]) {
        background-image: repeating-linear-gradient(
            45deg,
            tokens.$action_primary_backgroundColor,
            tokens.$action_primary_backgroundColor 25%,
            color-mix(in oklch, tokens.$action_primary_backgroundColor, transparent 25%) 25%,
            color-mix(in oklch, tokens.$action_primary_backgroundColor, transparent 25%) 50%
        );
        background-size: 1.5em 1.5em;
        background-position: 1.5em 0;
        animation: indeterminate 1s linear infinite paused;

        @media (prefers-reduced-motion: no-preference) {
            animation-play-state: running;
        }
    }

    &:where([value]) {
        background: linear-gradient(
            90deg,
            tokens.$action_primary_backgroundColor 0,
            tokens.$action_primary_backgroundColor var(--fill),
            transparent var(--fill),
            transparent 100%
        ) no-repeat;
    }

    &:where(progress) {
        &::-webkit-progress-bar {
            opacity: 0;
        }

        &::-moz-progress-bar {
            opacity: 0;
        }
    }

    &:where(meter) {
        &::-webkit-meter-bar {
            opacity: 0;
        }

        &::-moz-meter-bar {
            opacity: 0;
        }
    }

    &:where(input[type="range"]) {
        &::-webkit-slider-thumb {
            appearance: none;
            height: 1lh;
            aspect-ratio: 1;
            border-radius: 100vw;
            cursor: ew-resize;
            transform: scale(1.5);
            border-width: 1px;
            border-style: solid;
            @include flyout;
        }
    }
}

@keyframes indeterminate {
    to { background-position: 0 0; }
}