.track:is(.track) {
    appearance: none;
    background-color: transparent;
    border-radius: 100vw;
    height: 1lh;
    display: flex;
    width: -webkit-fill-available;

    &:where(progress) {
        color: red;
        border: 1px solid;
        &::-webkit-progress-bar {
            background-color: transparent;
        }
    }

    &:where(meter) {
        color: green;
        border: 1px solid;
    }

    &:where(input[type="range"]) {
        color: blue;
        border: 1px solid;
        &::-webkit-slider-thumb {
            appearance: none;
            height: 1lh;
            aspect-ratio: 1;
            border-radius: 100vw;
            background-color: currentColor;
        }
    }
}