* {
  box-sizing: border-box;
}

#site-attribution {
  display: inline-flex;
  color: currentColor;
  align-items: center;
  gap: 1ch;
  text-decoration: none;
  font-size: .5em;
  line-height: 1.25;
  opacity: .5;
  transition: opacity .218s ease;
  margin-top: var(--space--away);
}

#site-attribution:hover {
  opacity: 1;
}

#site-attribution dsh-logo {
  font-size: 250%;
}