* {
  box-sizing: border-box;
}

#toggle-range {
  --knob--position-offset: 4px;
  display: flex;
  align-items: center;
	justify-content: flex-start;
  position: relative;
  gap: 1rem;
  margin-right: var(--knob--position-offset);
}

label {
  cursor: pointer;
  text-transform: capitalize;
	order: -1;
	display: flex;
	align-items: center;
  text-align: right;
  white-space: nowrap;
  gap: var(--space--near);
  color: var(--accent-color, currentColor);
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
	border: 1px solid transparent;
	border-radius: 1rem;
  flex: 1;
}

@mixin track {
  margin: 0;
	width: 100%;
	cursor: pointer;
  border-radius: 1rem;
	box-sizing: content-box;
  border: 1px solid var(--control_standard_border-color);
  background: var(--control_standard_background-color);
}

input[type="range"]::-webkit-slider-runnable-track {
  @include track;
}

input[type="range"]::-moz-range-track {
  @include track;
}

input[type="range"]::-ms-track {
  @include track;
}

input[type="range"]::-ms-fill-lower {
  background: transparent;
}

@mixin thumb {
  -webkit-appearance: none;
  border-radius: 1rem;
  cursor: pointer;
	height: 1rem;
	width: 1rem;
	transform: scale(1.5);
  border: 1px solid var(--accent-color, var(--control_chosen_border-color));
  background: var(--control_standard_background-color);
}

input[type="range"]::-webkit-slider-thumb {
  @include thumb;
}

input[type="range"]::-moz-range-thumb {
  @include thumb;
}

input[type="range"]::-ms-thumb {
  @include thumb;
}

input[type="checkbox"] {
  -webkit-appearance: none;
	position: absolute;
  border-radius: 1rem;
  height: 1rem;
	width: 1rem;
  transform: scale(1.5) translateX(calc(-.75rem + 1px));
	right: calc(var(--knob--position-offset) / -2);
  cursor: pointer;
  transition: .218s ease;
  border: 1px solid var(--accent-color, var(--control_chosen_border-color));
  background: var(--control_standard_background-color);
}

input[type="checkbox"]:checked {
	transform: scale(1.5) translateX(0);
}

input[type="checkbox"] + label {
  flex: 1;
}

input[type="checkbox"] + label::after {
  content: "";
	display: inline-block;
	border-radius: 1rem;
  margin-left: auto;
	padding: .5rem;
  width: 1rem;
  border: 1px solid var(--accent-color, var(--control_standard_border-color));
  background: var(--control_standard_background-color);
  transition: .218s ease;
}

input[type="checkbox"]:checked + label::after {
  background: var(--accent-color, var(--control_chosen_background-color));
}

input[type="checkbox"] ~ output {
  display: none;
}

output {
  font-variant-numeric: tabular-nums;
}