@import 'material-icons/iconfont/material-icons.css';

.icon:is(.icon) {
    display: inline-flex;
    flex-shrink: 0;
    min-width: 0;
    height: 1.2rlh;
    margin-inline: calc((1em - 1.2rlh) / -2);
    box-sizing: content-box;
    align-items: center;
    pointer-events: none;
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
