@import 'material-icons/iconfont/material-icons.css';

.icon {
    display: inline-flex;
    flex-shrink: 0;
    min-width: 0;
    // box-sizing: content-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    pointer-events: none;
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1lh;
    height: 1lh;
    scale: 1.25;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
