@import 'material-icons/iconfont/material-icons.css';

.icon {
    display: inline-flex;
    flex-shrink: 0;
    min-width: 0;
    // box-sizing: content-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    pointer-events: none;
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    scale: 1.25;
    line-height: 1lh;
    width: 1lh;
    height: 1lh;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    &[data-priority="primary"] {

    }

    &[data-priority="secondary"] {

    }

    &[data-priority="auxiliary"] {

    }
}
