@import 'material-icons/iconfont/material-icons.css';

/* Adding more specificity so font styles are not overwritten */
.icon:is(.icon) {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.icon {
    display: inline-flex;
    flex-shrink: 0;
    min-width: 0;
    height: 1lh;
    align-items: center;
    text-align: center;
    justify-content: center;
    pointer-events: none;
    scale: 1.25;
    color: inherit;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
