@use '../Box/space.module' as space;

.table {
    text-align: center;
    border-collapse: collapse;
    margin: calc(#{space.$gap} / -2);
}

.th > [class] {
    font-weight: bolder;
}

.td {
    padding: calc(#{space.$gap} / 2);

    &:empty {
        visibility: hidden;
    }
}