.table {
    text-align: center;
    border-collapse: collapse;
    margin: calc(var(--gap, .5rem) / -2);
}

.th > [class] {
    font-weight: bolder;
}

.td {
    padding: calc(var(--gap, .5rem) / 2);

    &:empty {
        visibility: hidden;
    }
}