.flyout {
    min-width: 0;
    border: 0;
    margin: 0;
    padding: 0;
    /* position-try-options: flip-block; */
    /* position-try-fallbacks: flip-block; */

    &:popover-open {
        background: transparent;
        color: currentColor;
        padding: 0;
        overflow: visible;
    }
}

