.close button {
    position: absolute;
    inset-inline-end: .5rem;
    inset-block-start: .5rem;
    background: color-mix(in oklch, var(--btn-bg), currentColor 5%);
}

.float {
    float: inline-end;
    aspect-ratio: 1;
    padding-inline-start: var(--padding, 1rem);
    padding-block-end: var(--padding, 1rem);
}