@use '../tokens.module';
@use '../Box/space.module' as space;

.close button {
    position: absolute;
    inset-inline-end: space.$gap;
    inset-block-start: space.$gap;
    --action-bg: var(--surface-bg, #{tokens.$surface_auxiliary_backgroundColor});
}

.float {
    float: inline-end;
    padding-inline-start: space.$gap;
    width: 1lh;
    height: 1lh;
}