/* Generated file: generate-module.js */
$surface_primary_backgroundColor: var(--surface_primary_backgroundColor, Canvas);
$surface_primary_foregroundColor: var(--surface_primary_foregroundColor, CanvasText);
$surface_primary_borderColor: var(--surface_primary_borderColor, GrayText);
$surface_secondary_backgroundColor: var(--surface_secondary_backgroundColor, Canvas);
$surface_secondary_foregroundColor: var(--surface_secondary_foregroundColor, CanvasText);
$surface_secondary_borderColor: var(--surface_secondary_borderColor, GrayText);
$surface_auxiliary_backgroundColor: var(--surface_auxiliary_backgroundColor, Canvas);
$surface_auxiliary_foregroundColor: var(--surface_auxiliary_foregroundColor, CanvasText);
$surface_auxiliary_borderColor: var(--surface_auxiliary_borderColor, GrayText);
$action_primary_backgroundColor: var(--action_primary_backgroundColor, SelectedItem);
$action_primary_foregroundColor: var(--action_primary_foregroundColor, SelectedItemText);
$action_primary_borderColor: var(--action_primary_borderColor, transparent);
$action_secondary_backgroundColor: var(--action_secondary_backgroundColor, ButtonFace);
$action_secondary_foregroundColor: var(--action_secondary_foregroundColor, ButtonText);
$action_secondary_borderColor: var(--action_secondary_borderColor, GrayText);
$action_auxiliary_backgroundColor: var(--action_auxiliary_backgroundColor, transparent);
$action_auxiliary_foregroundColor: var(--action_auxiliary_foregroundColor, ActiveText);
$action_auxiliary_borderColor: var(--action_auxiliary_borderColor, transparent);
$control_backgroundColor: var(--control_backgroundColor, Field);
$control_foregroundColor: var(--control_foregroundColor, FieldText);
$control_borderColor: var(--control_borderColor, GrayText);
$text_primary_fontFamily: var(--text_primary_fontFamily, serif);
$text_primary_fontWeight: var(--text_primary_fontWeight, 700);
$text_primary_lineHeight: var(--text_primary_lineHeight, 1.1);
$text_primary_minRem: var(--text_primary_minRem, 2);
$text_primary_scaleFactor: var(--text_primary_scaleFactor, 1.125);
$text_secondary_fontFamily: var(--text_secondary_fontFamily, sans-serif);
$text_secondary_fontWeight: var(--text_secondary_fontWeight, 400);
$text_secondary_lineHeight: var(--text_secondary_lineHeight, 1.4);
$text_secondary_minRem: var(--text_secondary_minRem, 1.4);
$text_secondary_scaleFactor: var(--text_secondary_scaleFactor, 1.125);
$text_auxiliary_fontFamily: var(--text_auxiliary_fontFamily, sans-serif);
$text_auxiliary_fontWeight: var(--text_auxiliary_fontWeight, 400);
$text_auxiliary_lineHeight: var(--text_auxiliary_lineHeight, 1.4);
$text_auxiliary_minRem: var(--text_auxiliary_minRem, 1);
$text_auxiliary_scaleFactor: var(--text_auxiliary_scaleFactor, 1.125);
$space_minDimension: var(--space_minDimension, .5rem);
$space_scaleFactor: var(--space_scaleFactor, 1.618);
:export {
	#{'$surface_primary_backgroundColor'}: $surface_primary_backgroundColor;
	#{'$surface_primary_foregroundColor'}: $surface_primary_foregroundColor;
	#{'$surface_primary_borderColor'}: $surface_primary_borderColor;
	#{'$surface_secondary_backgroundColor'}: $surface_secondary_backgroundColor;
	#{'$surface_secondary_foregroundColor'}: $surface_secondary_foregroundColor;
	#{'$surface_secondary_borderColor'}: $surface_secondary_borderColor;
	#{'$surface_auxiliary_backgroundColor'}: $surface_auxiliary_backgroundColor;
	#{'$surface_auxiliary_foregroundColor'}: $surface_auxiliary_foregroundColor;
	#{'$surface_auxiliary_borderColor'}: $surface_auxiliary_borderColor;
	#{'$action_primary_backgroundColor'}: $action_primary_backgroundColor;
	#{'$action_primary_foregroundColor'}: $action_primary_foregroundColor;
	#{'$action_primary_borderColor'}: $action_primary_borderColor;
	#{'$action_secondary_backgroundColor'}: $action_secondary_backgroundColor;
	#{'$action_secondary_foregroundColor'}: $action_secondary_foregroundColor;
	#{'$action_secondary_borderColor'}: $action_secondary_borderColor;
	#{'$action_auxiliary_backgroundColor'}: $action_auxiliary_backgroundColor;
	#{'$action_auxiliary_foregroundColor'}: $action_auxiliary_foregroundColor;
	#{'$action_auxiliary_borderColor'}: $action_auxiliary_borderColor;
	#{'$control_backgroundColor'}: $control_backgroundColor;
	#{'$control_foregroundColor'}: $control_foregroundColor;
	#{'$control_borderColor'}: $control_borderColor;
	#{'$text_primary_fontFamily'}: $text_primary_fontFamily;
	#{'$text_primary_fontWeight'}: $text_primary_fontWeight;
	#{'$text_primary_lineHeight'}: $text_primary_lineHeight;
	#{'$text_primary_minRem'}: $text_primary_minRem;
	#{'$text_primary_scaleFactor'}: $text_primary_scaleFactor;
	#{'$text_secondary_fontFamily'}: $text_secondary_fontFamily;
	#{'$text_secondary_fontWeight'}: $text_secondary_fontWeight;
	#{'$text_secondary_lineHeight'}: $text_secondary_lineHeight;
	#{'$text_secondary_minRem'}: $text_secondary_minRem;
	#{'$text_secondary_scaleFactor'}: $text_secondary_scaleFactor;
	#{'$text_auxiliary_fontFamily'}: $text_auxiliary_fontFamily;
	#{'$text_auxiliary_fontWeight'}: $text_auxiliary_fontWeight;
	#{'$text_auxiliary_lineHeight'}: $text_auxiliary_lineHeight;
	#{'$text_auxiliary_minRem'}: $text_auxiliary_minRem;
	#{'$text_auxiliary_scaleFactor'}: $text_auxiliary_scaleFactor;
	#{'$space_minDimension'}: $space_minDimension;
	#{'$space_scaleFactor'}: $space_scaleFactor;
}