<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% include "head.njk" %}
  </head>
  <body>
    <site-attribution></site-attribution>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>