{% include "logo.svg" %}
<ul slot="nav" class="navigation-column" data-density-shift>
  {%- for heading, children in collections.all | navigation %}
  <li>
    <h4>{{ heading }}</h4>
    <ul>
      {%- for child in children %}
      <li>
        <a href="{{ child.page.url }}">{{ child.title }}</a>
      </li>
      <li>
        <a href="{{ child.page.url }}">{{ child.title }}</a>
      </li>
      <li>
        <a href="{{ child.page.url }}">{{ child.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>