<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} - {{ site.title }}</title>
    {% include "head.njk" %}
  </head>
  <body>
    <div id="navigation-chrome" data-density-shift class="max-content">
      {% include "navigation.njk" %}
      <hr/>
      <main id="main">
        <control-panel></control-panel>
        <div id="content" class="markdown">
          {{ content | safe }}
        </div>
        <site-attribution></site-attribution>
      </main>
    </div>
  </body>
</html>