<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} - {{ site.title }}</title>
    {% include "head.njk" %}
  </head>
  <body>
    <div id="navigation-chrome" data-density-shift class="max-content">
      {% include "navigation.njk" %}
      <hr/>
      <main id="main">
        <header data-density-shift>
          <div id="controls">
            <system-color-control></system-color-control>
            <audience-control audience="designer"></audience-control>
            <audience-control audience="engineer"></audience-control>
          </div>
        </header>
        <div id="content" class="markdown">
          {{ content | safe }}
        </div>
        <site-attribution></site-attribution>
      </div>
    </div>
  </body>
</html>