<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} - {{ site.title }}</title>
    {% include "head.njk" %}
  </head>
  <body>
    <navigation-chrome data-density-shift class="max-content">
      {% include "navigation.njk" %}
      <div class="markdown">{{ content | safe }}</div>
      <site-attribution></site-attribution>
    </navigation-chrome>
  </body>
</html>