@use '../Box/standby.module' as *;

.media {
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    &[data-complete="false"]:not([data-standby="false"]) {
        @include standby;
    }

    & > :not(source) {
        display: block;
        max-width: 100%;
    }
}
