* {
    font-family: Plus Jakarta Sans, sans-serif;
}

.docs-install {
    color: #C9CDCF !important;
}

.sbdocs {
    &.sbdocs-content {
        max-width: 60rch;
    }

    &.sbdocs-preview {
        resize: horizontal;
        overflow: auto;
    }

    h1 {
        text-transform: capitalize;
        margin-block-end: .5em;
    }

    & > h2 {
        display: none;
    }

    & > blockquote {
        background: color-mix(in srgb,#222425,#4fb9af 10%);
        padding: 1em 2.5em;
    }
}

.docs-story {
    background: white;
}

pre, code, pre :not(button), code * {
    font-family: 'Monaspace Radon', monospace !important;
    white-space: pre-wrap !important;
    word-break: break-word;
}

code {
    display: inline !important
}