body {
    margin: 0;
    color: #C9CDCF;
    font-family: Plus Jakarta Sans, sans-serif;
}

.sb-flex-section {
    display: flex;
    flex-flow: row-reverse wrap;
    gap: 2rem;

    & > * {
        flex: 1 1 30%;
    }

    .sbdocs-preview {
        position: sticky;
        top: 1rem;
    }
}

pre.docs-install.docs-install {
    background: #0f0f10;
    padding: 1rem;
}

.sbdocs .sbdocs-content {
    max-width: 720px;
    font-size: 1.2em;

    h1 {
        font-size: 3rem;
        line-height: 1.1;
        margin-block-end: 1em;
    }

    h1.sbdocs-title {
        text-transform: capitalize;
    }

    h2 {
        font-size: 2.2rem;
        letter-spacing: normal;
        text-transform: none;
        line-height: 1.1;
        display: none;
    }

    h3 {
        font-size: 1.8rem;
        line-height: 1.1;
        margin-block: 1em .5em;
    }

    .controls-summary {
        cursor: pointer;
    }

    .controls-summary::marker {
        font-size: 1.8rem;
        margin-inline-end: 2em;
    }

    .controls-summary h3 {
        display: inline-flex;
        cursor: pointer;
        padding-inline: .5em;
    }

    p, ul, li, div {
        line-height: 1.5;
        font-size: inherit;
    }

    a {
        text-decoration: underline;
    }

    blockquote {
        padding: 1em calc(2em - 4px);
        background: color-mix(in srgb, #222425, #4fb9af 10%);
        font-size: .8em;
        border-color: #4fb9af;
    }

    blockquote h3 {
        margin-block-start: 0;
    }

    pre,
    pre[class*="language"],
    pre .token,
    code,
    .docblock-argstable-body :not(label) > span[class] {
        font-family: 'Monaspace Radon', monospace;
        font-size: 1em;
    }
}