.listbox:is(.listbox) {
    display: flex;
    flex: 1;
    overflow: clip;

    &.visualfocus {
        [aria-selected="true"] {
            background-color: color-mix(in oklch, var(--bgColor), currentColor 15%);
        }
    }

    & > button {
        border: 0;
        border-radius: 0;
    }
}