/** Generated file: generate-css.js */
@import url('https://fonts.googleapis.com/css2?display=swap');

@scope {
    [data-mode~="system:critical"] {
        	--surface_primary_backgroundColor: color-mix(
        in oklch,
        oklch(from Canvas l c none),
        oklch(from white none c h) 0%
    );
	--surface_primary_foregroundColor: color-mix(
        in oklch,
        oklch(from CanvasText l c none),
        oklch(from red l c h) 100%
    );
	--surface_primary_borderColor: color-mix(
        in oklch,
        oklch(from GrayText l c none),
        oklch(from red l c h) 100%
    );
	--surface_secondary_backgroundColor: color-mix(
        in oklch,
        oklch(from Canvas l c none),
        oklch(from white none c h) 0%
    );
	--surface_secondary_foregroundColor: color-mix(
        in oklch,
        oklch(from CanvasText l c none),
        oklch(from red l c h) 100%
    );
	--surface_secondary_borderColor: color-mix(
        in oklch,
        oklch(from GrayText l c none),
        oklch(from red l c h) 100%
    );
	--surface_auxiliary_backgroundColor: color-mix(
        in oklch,
        oklch(from Canvas l c none),
        oklch(from white none c h) 0%
    );
	--surface_auxiliary_foregroundColor: color-mix(
        in oklch,
        oklch(from CanvasText l c none),
        oklch(from red l c h) 100%
    );
	--surface_auxiliary_borderColor: color-mix(
        in oklch,
        oklch(from GrayText l c none),
        oklch(from red l c h) 100%
    );
	--action_primary_backgroundColor: color-mix(
        in oklch,
        oklch(from SelectedItem l c none),
        oklch(from red none c h) 80%
    );
	--action_primary_foregroundColor: color-mix(
        in oklch,
        oklch(from SelectedItemText l c none),
        oklch(from white none c h) 80%
    );
	--action_primary_borderColor: color-mix(
        in oklch,
        oklch(from transparent l c none),
        oklch(from red none c h) 80%
    );
	--action_secondary_backgroundColor: color-mix(
        in oklch,
        oklch(from ButtonFace l c none),
        oklch(from transparent l c h) 100%
    );
	--action_secondary_foregroundColor: color-mix(
        in oklch,
        oklch(from ButtonText l c none),
        oklch(from red none c h) 60%
    );
	--action_secondary_borderColor: color-mix(
        in oklch,
        oklch(from GrayText l c none),
        oklch(from red none c h) 60%
    );
	--action_auxiliary_backgroundColor: color-mix(
        in oklch,
        oklch(from transparent l c none),
        oklch(from transparent l c h) 100%
    );
	--action_auxiliary_foregroundColor: color-mix(
        in oklch,
        oklch(from ActiveText l c none),
        oklch(from red none c h) 40%
    );
	--action_auxiliary_borderColor: color-mix(
        in oklch,
        oklch(from transparent l c none),
        oklch(from transparent l c h) 100%
    );
	--control_backgroundColor: color-mix(
        in oklch,
        oklch(from Field l c none),
        oklch(from red none c h) 20%
    );
	--control_foregroundColor: color-mix(
        in oklch,
        oklch(from FieldText l c none),
        oklch(from red none c h) 80%
    );
	--control_borderColor: color-mix(
        in oklch,
        oklch(from GrayText l c none),
        oklch(from red none c h) 80%
    );
    }
}