/** Generated file: generate-css.js */
@import url('https://fonts.googleapis.com/css2?family=Arimo%3Awght%40400%3B700&display=swap');

@scope {
    [data-mode~="base"] {
        	--brand-surface_primary_backgroundColor: color-mix(in oklch, oklch(from Canvas l c none), oklch(from white none c h) 0%);
	--brand-surface_primary_foregroundColor: color-mix(in oklch, oklch(from CanvasText l c none), oklch(from black none c h) 0%);
	--brand-surface_primary_borderColor: color-mix(in oklch, oklch(from GrayText l c none), oklch(from transparent none c h) 0%);
	--brand-surface_secondary_backgroundColor: color-mix(in oklch, oklch(from Canvas l c none), oklch(from white none c h) 0%);
	--brand-surface_secondary_foregroundColor: color-mix(in oklch, oklch(from CanvasText l c none), oklch(from black none c h) 0%);
	--brand-surface_secondary_borderColor: color-mix(in oklch, oklch(from GrayText l c none), oklch(from transparent none c h) 0%);
	--brand-surface_auxiliary_backgroundColor: color-mix(in oklch, oklch(from Canvas l c none), oklch(from white none c h) 0%);
	--brand-surface_auxiliary_foregroundColor: color-mix(in oklch, oklch(from CanvasText l c none), oklch(from black none c h) 0%);
	--brand-surface_auxiliary_borderColor: color-mix(in oklch, oklch(from GrayText l c none), oklch(from transparent none c h) 0%);
	--brand-action_primary_backgroundColor: color-mix(in oklch, oklch(from SelectedItem l c none), oklch(from rgb(204 0 0) none c h) 50%);
	--brand-action_primary_foregroundColor: color-mix(in oklch, oklch(from SelectedItemText l c none), oklch(from white none c h) 50%);
	--brand-action_primary_borderColor: color-mix(in oklch, oklch(from transparent l c none), oklch(from rgb(204 0 0) none c h) 50%);
	--brand-action_secondary_backgroundColor: color-mix(in oklch, oklch(from ButtonFace l c none), oklch(from transparent none c h) 50%);
	--brand-action_secondary_foregroundColor: color-mix(in oklch, oklch(from ButtonText l c none), oklch(from rgb(204 0 0) none c h) 50%);
	--brand-action_secondary_borderColor: color-mix(in oklch, oklch(from GrayText l c none), oklch(from rgb(204 0 0) none c h) 50%);
	--brand-action_auxiliary_backgroundColor: color-mix(in oklch, oklch(from transparent l c none), oklch(from transparent none c h) 50%);
	--brand-action_auxiliary_foregroundColor: color-mix(in oklch, oklch(from ActiveText l c none), oklch(from rgb(204 0 0) none c h) 50%);
	--brand-action_auxiliary_borderColor: color-mix(in oklch, oklch(from transparent l c none), oklch(from transparent none c h) 50%);
	--brand-control_backgroundColor: color-mix(in oklch, oklch(from Field l c none), oklch(from white none c h) 0%);
	--brand-control_foregroundColor: color-mix(in oklch, oklch(from FieldText l c none), oklch(from black none c h) 0%);
	--brand-control_borderColor: color-mix(in oklch, oklch(from GrayText l c none), oklch(from grey none c h) 0%);
	--brand-text_primary_fontFamily: Arimo;
	--brand-text_primary_fontWeight: 700;
	--brand-text_primary_lineHeight: 1.1;
	--brand-text_primary_minRem: 1.5;
	--brand-text_primary_scaleFactor: 1.125;
	--brand-text_secondary_fontFamily: Arimo;
	--brand-text_secondary_fontWeight: 400;
	--brand-text_secondary_lineHeight: 1.5;
	--brand-text_secondary_minRem: 1;
	--brand-text_secondary_scaleFactor: 1.125;
	--brand-text_auxiliary_fontFamily: Arimo;
	--brand-text_auxiliary_fontWeight: 400;
	--brand-text_auxiliary_lineHeight: 1.5;
	--brand-text_auxiliary_minRem: 0.8;
	--brand-text_auxiliary_scaleFactor: 1.125;
	--brand-space_minDimension: .5rem;
	--brand-space_scaleFactor: 1.4;
    }
}