@use '../tokens.module';

@mixin button {
    font: inherit;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    flex: 1 1 auto;
    transition: .218s ease;
    border-width: 1px;
    border-style: solid;
    --btn-bg: #{tokens.$action_auxiliary_backgroundColor};
    border-color: tokens.$action_auxiliary_borderColor;
    color: tokens.$action_auxiliary_foregroundColor;
    background: var(--btn-bg);

    &:not([disabled], [aria-disabled="true"]):hover {
       background: color-mix(in oklch, var(--btn-bg), currentColor 10%);
    }
}