@use '../tokens.module';
@use '../Text/body.module' as *;
@use './space.module' as space;

@mixin button {
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    flex: 1 1 auto;
    transition: .218s ease;
    border-width: 1px;
    border-style: solid;
    padding: space.$gap space.$padding;
    --action-bg: #{tokens.$action_auxiliary_backgroundColor};
    border-color: tokens.$action_auxiliary_borderColor;
    color: tokens.$action_auxiliary_foregroundColor;
    background: var(--action-bg);
    @include body;
    font-weight: bolder;

    &:not([disabled], [aria-disabled="true"]):hover {
       background: color-mix(in oklch, var(--action-bg), currentColor 10%);
    }
}