@use '../tokens.module';

@mixin flyout {
    background: tokens.$surface_secondary_backgroundColor;
    border-color: tokens.$surface_secondary_borderColor;
    color: tokens.$surface_secondary_foregroundColor;
    box-shadow: 0 8px 8px -2px
        color-mix(in oklch, Canvas, oklch(0 0 0 / .2) 80%);
}