@use '../tokens.module';

@mixin flyout {
    --surface-bg: color-mix(in oklch, #{tokens.$surface_secondary_backgroundColor}, white 2%);
    background: var(--surface-bg);
    border-color: tokens.$surface_secondary_borderColor;
    color: tokens.$surface_secondary_foregroundColor;
    box-shadow: 0 8px 8px -2px
        color-mix(in oklch, Canvas, oklch(0 0 0 / .2) 80%);

    & :where(*) {
        color: tokens.$surface_secondary_foregroundColor;
    }
}