@use '../tokens.module';

@mixin flyout {
    --surface-bg: #{tokens.$surface_secondary_backgroundColor};
    backdrop-filter: brightness(1.25);
    background: var(--surface-bg);
    border-color: tokens.$surface_secondary_borderColor;
    color: tokens.$surface_secondary_foregroundColor;
    box-shadow: 0 8px 8px -2px
        color-mix(in oklch, Canvas, oklch(0 0 0 / .2) 80%);
}