@use '../tokens.module';

@mixin modal {
    --surface-bg: color-mix(in oklch, #{tokens.$surface_primary_backgroundColor}, white 4%);
    background: var(--surface-bg);
    border-color: tokens.$surface_primary_borderColor;
    color: tokens.$surface_primary_foregroundColor;
    box-shadow: 0 14px 20px -4px
        color-mix(in oklch, Canvas, oklch(0 0 0 / .2) 80%);

    & :where(*) {
        color: tokens.$surface_primary_foregroundColor;
    }
}