@use '../tokens.module';
@use './space.module' as space;

@mixin standby {
    color: transparent;
    display: flex;
    flex: 1;

    background-image: linear-gradient(100deg,
            color-mix(in oklch, GrayText, transparent 80%) 40%,
            transparent 50%,
            color-mix(in oklch, GrayText, transparent 80%) 60%);
    background-size: 200% 100%;
    background-position-x: 120%;

    /* Line rendering */
    min-height: calc((2 * #{space.$gap}) + 3lh);
    mask: linear-gradient(#000 0 1lh,
            transparent 1lh calc(1lh + #{space.$gap})) 0 0/100% calc(1lh + #{space.$gap});

    &:where(i[role="presentation"]) {
        mask: none;
        max-width: 1lh;
        min-height: 1lh;
        border-radius: 100vw;
    }

    &:where(picture, video, audio) {
        mask: none;
        min-height: auto;
        aspect-ratio: 16/9;

        & > * {
            opacity: 0;
        }
    }

    &:where([data-priority="primary"]) {
        mask: none;
        min-height: 1lh;
        max-width: 80%;
    }

    &:where([data-priority="auxiliary"]) {
        mask: none;
        min-height: 1lh;
        max-width: 20%;
    }

    @media (prefers-reduced-motion: no-preference) {
        background-position-x: 180%;
        visibility: visible;
        animation: 2s loading ease-in-out infinite;
    }

    @keyframes loading {
        to { background-position-x: -20% }
    }
}