@mixin standby {
    color: transparent;
    display: flex;
    flex: 1;

    /* TODO: needs better construction using bg and fg colors */
    --skeleton-bg: #ededed;
    --skeleton-shine: white;

    background-color: var(--skeleton-bg);
    background-image: linear-gradient(100deg,
            transparent 40%,
            color-mix(in oklch, var(--skeleton-shine), transparent 50%) 50%,
            transparent 60%);
    background-size: 200% 100%;
    background-position-x: 120%;

    /* Line rendering */
    min-height: calc(3lh + 2ex);
    mask: linear-gradient(#000 0 1lh,
            transparent 1lh calc(1lh + 1ex)) 0 0/100% calc(1lh + 1ex);

    &:where(i[role="presentation"]) {
        mask: none;
        max-width: 1lh;
        min-height: 1lh;
        border-radius: 100vw;
    }

    &:where(picture, video, audio) {
        mask: none;
        min-height: auto;
        aspect-ratio: 16/9;

        & > * {
            opacity: 0;
        }
    }

    &:where([data-priority="primary"]) {
        mask: none;
        min-height: 1lh;
        max-width: 80%;
    }

    &:where([data-priority="auxiliary"]) {
        mask: none;
        min-height: 1lh;
        max-width: 20%;
    }

    @media (prefers-reduced-motion: no-preference) {
        background-position-x: 180%;
        animation: 2s loading ease-in-out infinite;
    }

    @keyframes loading {
        to { background-position-x: -20% }
    }
}