@use '../tokens.module';
@use 'button.module' as *;
@use './space.module' as space;

.action {
    @include button;

    /* Square buttons */
    &:where([style*="aspect-ratio: 1"]) {
        padding: space.$gap;
        box-sizing: content-box;
        width: 1lh;
        height: 1lh;
    }

    /* Represents when an item is signifigantly chosen by the system  */
    &:where([aria-current]) {
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-color: currentColor;
    }

    /* Represents a user selected item */
    &:where([aria-selected="true"]) {
        box-shadow: inset 0 -4px currentColor;
    }

    /* Icon only buttons */
    &:has(i[role="presentation"]:only-child) {
        flex-grow: 0;
    }

    /* Primary buttons */
    &:where([data-priority="primary"]) {
        --action-bg: #{tokens.$action_primary_backgroundColor};
        border-color: tokens.$action_primary_borderColor;
        color: tokens.$action_primary_foregroundColor;
    }

    /* Secondary buttons */
    &:where([data-priority="secondary"]) {
        --action-bg: #{tokens.$action_secondary_backgroundColor};
        border-color: tokens.$action_secondary_borderColor;
        color: tokens.$action_secondary_foregroundColor;
    }

    /* Disabled buttons */
    &:where([disabled], [aria-disabled="true"]) {
        cursor: not-allowed;
        opacity: .4;
    }
}