@use '../tokens.module';

.action {
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 4px;
    text-decoration: none;
    flex: 1 1 auto;
    transition: .218s ease;
    border-width: 1px;
    border-style: solid;
    border-color: tokens.$action_auxiliary_borderColor;
    color: tokens.$action_auxiliary_foregroundColor;
    background: tokens.$action_auxiliary_backgroundColor;

    &:where([aria-current]) {
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    &:where([aria-selected="true"]) {
        box-shadow: inset 0 -8px currentColor;
    }

    /* Icon only buttons */
    &:has(i[role="presentation"]:only-child) {
        flex-grow: 0;
    }

    &:where([data-priority="primary"]) {
        border-color: tokens.$action_primary_borderColor;
        color: tokens.$action_primary_foregroundColor;
        background: tokens.$action_primary_backgroundColor;
    }

    &:where([data-priority="secondary"]) {
        border-color: tokens.$action_secondary_borderColor;
        color: tokens.$action_secondary_foregroundColor;
        background: tokens.$action_secondary_backgroundColor;
    }

    &:where([disabled], [aria-disabled="true"]) {
        cursor: not-allowed;
        opacity: .4;
    }

    & > * {
        pointer-events: none;
    }

    & > strong {
        padding-inline: var(--padding, 1rem);
        margin-inline: calc(var(--padding, 1rem) / -2);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > strong + i {
        margin-inline-start: auto;
    }
}