@use 'details.module' as *;
@use 'standby.module' as *;
@use './space.module' as space;

.box {
    min-width: 0;
    outline-offset: -4px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    &.round {
        border-radius: 100vw;
    }

    &.padding {
        padding: space.$padding
    }

    &.gap {
        gap: space.$gap;
    }

    &.grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }

    &:where(details) {
        @include details;
    }

    &:where([aria-busy="true"]) {
        width: 100%;

        :where([data-standby="true"]) {
            @include standby;
        }
    }
}
