@use 'details.module' as *;
@use 'standby.module' as *;
@use './space.module' as space;

.box {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    /* Sets the focus outline uniformly for interactive elements */
    outline-offset: -4px;

    &.round {
        border-radius: 100vw;
    }

    &.padding {
        padding: space.$padding
    }

    &.gap {
        gap: space.$gap;
    }

    &:where(details) {
        @include details;
    }

    &:where([aria-busy="true"]) {
        width: 100%;

        :is([data-standby="true"]) {
            @include standby;
        }
    }
}
