@use '../tokens.module';

.control {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-size: 1.2rem;
    flex: 1 0 auto;
    overflow: clip;
    border-color: tokens.$control_borderColor;
    color: tokens.$control_foregroundColor;
    background: tokens.$control_backgroundColor;

    > hr {
        height: 1lh;
    }

    > i[role="presentation"] {
        padding-inline: var(--padding, 1rem);
    }

    > button,
    > input[type="file"]::file-selector-button {
        border: 0;
        border-radius: 0;
    }
}
