.box {
    min-width: 0;
    font-size: 1.2rem;
    outline-offset: -4px;

    &.round:is(.round) {
        border-radius: 100vw;
    }

    &:where(details) {
        display: block !important;

        @media (prefers-reduced-motion: no-preference) {
            interpolate-size: allow-keywords;
        }

        &::details-content {
            opacity: 0;
            block-size: 0;
            overflow-y: clip; 
            transition: content-visibility .218s allow-discrete,
                opacity .218s,
                block-size .218s;
        }

        &[open]::details-content {
            opacity: 1;
            block-size: auto;
        }
    }

    &[aria-busy="true"] {
        width: 100%;

        :is([data-standby="true"]) {
            color: transparent;
            display: flex;
            flex: 1;

            /* TODO: needs better construction using bg and fg colors */
            --skeleton-bg: #ededed;
            --skeleton-shine: white;
            
            background-color: var(--skeleton-bg);
            background-image: linear-gradient(
                100deg,
                transparent 40%,
                color-mix(in oklch, var(--skeleton-shine), transparent 50%) 50%,
                transparent 60%
            );
            background-size: 200% 100%;
            background-position-x: 120%;

            /* Line rendering */
            min-height: calc(3lh + 2ex);
            mask: linear-gradient(#000 0 1lh,
                transparent 1lh calc(1lh + 1ex)) 0 0/100% calc(1lh + 1ex);

            &:where(i[role="presentation"]) {
                max-width: 1em;
                min-height: 1em;
                mask: none;
                border-radius: 100vw;
            }

            &:where(picture, video, audio) {
                min-height: auto;
                aspect-ratio: 16/9;
                mask: none;

                > * {
                    opacity: 0;
                }
            }

            &[data-priority="primary"] {
                mask: none;
                min-height: 1lh;
                max-width: 80%;
            }

            &[data-priority="auxiliary"] {
                mask: none;
                min-height: 1lh;
                max-width: 20%;
            }

            @media (prefers-reduced-motion: no-preference) {
                background-position-x: 180%;
                animation: 2s loading ease-in-out infinite;
            }
        }
    }
}

@keyframes loading {
	to { background-position-x: -20% }
}

.surface:is(.surface) {
    background: #f0f0f0;
    border-radius: 8px;
    overflow: clip;
    contain: layout;
    color: black;

    &:is([data-priority="primary"]) {
        background: #fff;
        box-shadow: 0 14px 20px -4px rgba(0,0,0,.2);
    }

    &:is([data-priority="secondary"]) {
        background: #fafafa;
        box-shadow: 0 8px 8px -2px rgba(128, 128, 128, 0.4);
    }
}

.action:is(.action) {
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    flex: 1 1 auto;

    --bgColor: #fefefe;
    background-color: color-mix(in oklch, var(--bgColor), currentColor 5%);
    transition: background .218s ease;
    color: black;

    /* Icon only buttons */
    &:has(i[role="presentation"]:only-child) {
        flex-grow: 0;
    }

    & > * {
        pointer-events: none;
    }

    & > strong {
        padding-inline: var(--padding, 1rem);
        margin-inline: calc(var(--padding, 1rem) / -2);
    }

    &:is([data-priority="primary"]) {
        --bgColor: #720e9e;
        color: white;
    }

    &:is([data-priority="secondary"]) {
        /* --bgColor: #c999c9; */
        border-color: #c999c9;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: .4;
    }

    &:not([disabled]):hover {
        background-color: color-mix(in oklch, var(--bgColor), currentColor 15%);
    }
}

.control:is(.control) {
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 1.2rem;
    flex: 1 0 auto;
    overflow: clip;

    > hr {
        height: 1lh;
    }

    > i[role="presentation"] {
        padding-inline: var(--padding, 1rem);
    }

    > button,
    > input[type="file"]::file-selector-button {
        border: 0;
        border-radius: 0;
    }
}