@use '../tokens.module';
@use 'modal.module' as *;
@use 'flyout.module' as *;

.surface {
    border-radius: 8px;
    overflow: clip;
    contain: layout;
    border-color: tokens.$surface_auxiliary_borderColor;
    color: tokens.$surface_auxiliary_foregroundColor;
    --surface-bg: #{tokens.$surface_auxiliary_backgroundColor};
    background: var(--surface-bg);

    &:where([data-priority="primary"]) {
        @include modal;
    }

    &:where([data-priority="secondary"]) {
        @include flyout;
    }
}