* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  position: relative;
  background: inherit;
}

#navigation {
  background: inherit;
  min-width: 180px;
  max-width: 100%;
  width: calc((640px - 100%) * 100000);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space--away);
}

nav {
  padding: var(--space--away);
  background: inherit;
  padding-top: 0;
}

main {
  flex: 1;
  padding: var(--space--away);
  background: inherit;
}
